* {
  color: rgb(255, 255, 255);
}

header {
  background-color: rgb(102, 37, 37);
  display: flex;
  font-weight: 600;
  height: 8rem;
  margin-left: 0rem;
  justify-content: center;
}

.header {
  margin-left: 0;
  text-align: center;
}

.navigation {
  margin-left: 0;
  margin-right: 30px;
  text-align: center;
}

.navigation1 {
margin-left: 0;
}

p {
  margin-left: 12rem;
  font-size: x-large;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}
li {
  margin-left: 6rem;
  margin-top: 1rem;
}
main {
  font-size: x-large;
  margin-left: 10rem;
  margin-top: 3rem;
}
h1 {
  color: brown;
}
.contact-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.images {

}
